:root {
    --pokedex: #D6092E;
    --blueLight: #1e5981;
    --blueHighlight: #6CC0DF;
    --screenContainer: #CED0CA;
    --blueBtn: #133247;
    --blueDeepest: #0a1923;
}

@font-face {
    font-family: "Pokemon";
    src: url(./Assets/PokemonGb-RAeo.ttf);
}

@font-face {
    font-family: "Tiny5";
    src: url(./Assets/Tiny5-Regular.ttf);
}

* {
    margin: 0;
}

body {
    width: 100vw;
    font-family: "Pokemon", "Tiny5", sans-serif;
    display: grid;
    grid-template-columns: 1fr, 800px, 1fr;
    grid-template-rows: auto;
}


h1 {
    grid-column: 1 / 4;
    padding: 20px;
    text-align: center;
}

.welcomeMessage {
    width: 250px;
    margin: auto auto;
    text-align: center;
    line-height: 20px;
}
#greeting {
    grid-column: 1 / 2;
}
#start {
    grid-column: 3 / 4;
}




#pokedexContainer {
    grid-column: 2 / 3;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: solid;
    display: flex;
    flex-direction: row;
}



.box {
    background-color: var(--pokedex);
    width: 400px;
    height: 100%;
}

.topPanel {
    width: 100%;
    height: 90px;
    border-bottom: solid;
}


/* LEFT */
#boxLeft {
    border-right: 10px solid black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

/* * top panel */
#topPanelContainer {
    display: flex;
    flex-flow: row nowrap;
}
/* TODO Sort curve out */
#topPanel {
    width: 250px;
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#onLight {
    width: 70px;
    height: 70px;
    background-color: var(--blueLight);
    border-radius: 50%;
    border: 2px solid var(--screenContainer);
    margin-top: 10px;
    opacity: 0.9;
    background: radial-gradient(circle at 15px 10px, #246c9c, var(--blueDeepest));
}

.panelLight {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 5px;
    opacity: 0.9;
}
#redLight {
    background-color: rgb(164, 18, 18);
}
#yellowLight {
    background-color: rgb(183, 183, 22);
}
#greenLight {
    background-color: rgb(12, 99, 12);
}

#curve {
    width: 0;
    height: 0;
    border-left: 50px;
    border-bottom: 60px solid transparent;
}

#topPanelCont {
    width: 100px;
    height: 30px;
}

/* * img screen */

#imgScreenContainer {
    width: 95%;
    height: 300px;
    background-color: var(--screenContainer);
    border: 2px solid black;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    border-bottom-left-radius: 35px;
}
#screenLightContainer {
    width: 100%;
    height: 12%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.scrnLight {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--pokedex);
    margin-left: 20px;
    margin-right: 20px;
}
#screenOutput {
    width: 85%;
    height: 75%;
    background-color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}
#screenDecorContainer {
    width: 100%;
    height: 13%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#scrnDecbtn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--pokedex);
    margin-left: 15px;
}
#scrnDecLines {
    width: 35px;
    height: 100%;
    margin-right: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.line {
    width: 100%;
    height: 3px;
    background-color: var(--pokedex);
}

/* * button panel */

#buttonPanel {
    width: 95%;
    height: 175px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
#goContainer {
    height: 100%;
    width: 20%;
}
#onBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blueBtn);
    color: var(--screenContainer);
    font-weight: bold;
}
#homeContainer {
    height: 80%;
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.slimBtn {
    width: 55px;
    height: 10px;
    border-radius: 5px;
    border-radius: 3px solid black;
}
.right {
    background-color: var(--blueBtn);
}
.left {
    background-color: #8e021c;
}
#homeBtn {
    width: 80%;
    height: 60px;
    background-color: rgb(6, 94, 6);
    border-radius: 1px solid black;
    color: var(--screenContainer);
    font-size: 45px;
    text-shadow: var(--blueDeepest);
}
#dPadContainer {
    height: 70%;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
}
.dPadSqu {
    width: 100%;
    height: 100%;
    background-color: var(--blueDeepest);
    color: var(--screenContainer); 
    font-weight: bold;
    font-size: 18px;
}
.dPadSqu.One {
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}
.dPadSqu.Two {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.dPadSqu.Three {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
}
.dPadSqu.Four {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.dPadSqu.Five {
    grid-column: 2 / 3;
    grid-row: 3 / 4; 
}

/* RIGHT PANEL */

#boxRight {
    border-left: 10px solid black;
}

#flexContentContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#textOutputContainer {
    width: 90%;
    height: 170px;
    background-color: black;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#textOutput {
    color: var(--screenContainer);
    width: 100%;
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: auto auto;
}
#optSearch, #optRandom {
    color: var(--screenContainer);
    width: 40%;
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin: auto auto;
}
.selected {
    border: 2px solid var(--screenContainer);
    background-color: rgb(36, 108, 156);
    font-weight: bold;
}

#keyboardContainer {
    width: 90%;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(3, 2fr);
    margin-bottom: 10px;
}

.keySqu{
    grid-column: span 2;
    width: 100%;
    height: 100%;
    background-color: var(--blueLight);
    border: 2px solid black;
    padding: 0;
    color: var(--screenContainer);
    font-size: 16px;
    font-weight: 600;
}
.indentWholeKey {
    grid-column: span 2;;
}
.material-icons {
    font-family: "material-icons";
    margin: 0;
}


#decorationStuff {
    width: 100%;
    height: 140px;
    border: solid;
    margin-bottom: 10px;
    display: none;
}

#navBtnContainer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.navBtn {
    width: 120px;
    height: 40px;
    letter-spacing: 3px;
    background-color: var(--blueBtn);
    color: var(--screenContainer);
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px var(--blueDeepest);
}

/* ON BUTTON FLASHING ANIMATION */

@keyframes mainFlash {
    from {background-color: var(--blueLight); opacity: 0.9;}
    to {background-color: #2770a0; opacity: 1; background: radial-gradient(circle at 15px 10px, var(--blueHighlight), #102b3e)}
}
@keyframes mainOn {
    from {background-color: var(--blueLight); opacity: 0.9;}
    to {background-color: #2770a0; opacity: 1; background: radial-gradient(circle at 15px 10px, var(--blueHighlight), #102b3e)}
}
.main {
    animation-name: mainFlash, mainOn;
    animation-duration: 0.4s, 0.4s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0.2s, 2.6s;
    animation-iteration-count: 3, 1;
    animation-fill-mode: none, forwards;
}

@keyframes redOn {
    from {background-color: rgb(164, 18, 18); opacity: 0.9;}
    to {background-color: rgb(223, 11, 11); opacity: 1; background: radial-gradient(circle at 3px 3px, red, rgb(125, 6, 6))}
}
@keyframes redFlash {
    from {background-color: rgb(164, 18, 18); opacity: 0.9;}
    to {background-color: rgb(223, 11, 11); opacity: 1; background: radial-gradient(circle at 3px 3px, red, rgb(125, 6, 6))}
}
.red {
    animation-name: redFlash, redOn;
    animation-duration: 0.4s, 0.4s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0.2s, 2.2s;
    animation-iteration-count: 3, 1;
    animation-fill-mode: none, forwards;
}

@keyframes yellowOn {
    from {background-color: rgb(183, 183, 22); opacity: 0.9;}
    to {background-color: rgb(218, 218, 5); opacity: 1; background: radial-gradient(circle at 3px 3px, rgb(255, 255, 0), rgb(137, 137, 69))}
}
@keyframes yellowFlash {
    from {background-color: rgb(183, 183, 22); opacity: 0.9;}
    to {background-color: rgb(218, 218, 5); opacity: 1; background: radial-gradient(circle at 3px 3px, rgb(255, 255, 0), rgb(137, 137, 69))}
}
.yellow {
    animation-name: yellowFlash, yellowOn;
    animation-duration: 0.4s, 0.4s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0.2s, 1.9s;
    animation-iteration-count: 3, 1;
    animation-fill-mode: none, forwards;
}

@keyframes greenFlash {
    from {background-color: rgb(12, 99, 12); opacity: 0.9;}
    to {background-color: #008900; opacity: 1; background: radial-gradient(circle at 3px 3px, #0ac10a, #024d02)}
}
@keyframes greenOn {
    from {background-color: rgb(12, 99, 12); opacity: 0.9;}
    to {background-color: #008900; opacity: 1; background: radial-gradient(circle at 3px 3px, #0ac10a, #024d02)}
}
.green {
    animation-name: greenFlash, greenOn;
    animation-duration: 0.4s, 0.4s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0.2s, 1.6s;
    animation-iteration-count: 3, 1;
    animation-fill-mode: none, forwards;
}



